@charset "utf-8";

#search_wrap{
    padding-top: 100px;
    padding-bottom: 100px;
}
.search_each_wrap{
    padding-top: 30px;
    padding-left: 200px;
    padding-bottom: 20px;
}
.s_user{
    display: inline-flex;
}
.s_img{
    width: 20px;
    height: 20px;
    border: solid 1px black;
}
.s_name{
    margin-left: 10px;
}
.s_contents{
    display: inline-flex;
}
h2{
    padding-left: 200px;
    padding-bottom: 20px;
}